{% extends "layout/base.html" %}
{% load static %}
{% block title %}Добавление новых задач{% endblock %}
{% block content %}
        <form method=POST>
        <!--Мы указали метод отправки POST, но не записали интернет-адрес по которому будут отправлены данные из формы.
        В этом случае данные будут отправлены по тому же адресу, с которого была загружена страница, т.е в нашем случае 
        тому же контролер-классу TaskCreateView, который благополучно обработает и сохранит их-->
            {% csrf_token %}
            <!--в теге <form> мы поместили тег шаблонизатора csrf token. Он создает в форме 
                скрытое поле, хранящее цифровой жетон, получив который контроллер ’’пой­
                мет”, что данные были отправлены с текущего сайта и им можно доверять. Это 
                часть подсистемы безопасности Django.-->
            {{ form.as_p }}
            <!--для вывода формы, элементы управления которой находятся на отдельных абза­цах,
            применяется метод as p () класса формы;-->
            <input type="submit" value="Добавить">
        </form>
{% endblock %}