{% extends "layout/base.html" %}
{% load static %}
{% block extra_head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/taskList.css' %}">
{% endblock %}
{% block content %}
    <h1>Планы:</h1>
    {% for task in tasks %}
        <div class="main"> 
            <h3>{{ task.title|truncatewords:5|upper }}</h3>
            <div class="list">
                <p>{{ task.description|linebreaks }}</p>
                <p>{{ task.category.name }}</p>
                <p>{{ task.created|date:"d.m.Y H:i:s" }}</p>
            </div class="main">
        </div> 
    {% endfor %}
{% endblock %}
    