body {
    font-family: Roboto;
}


.main {
    font-size: 18px;
}

h1 {
    font-size: 25px;
    padding-top: 30px;
    font-weight: lighter;
}
h3 {
    display: block;
    text-align: center;
    background-color: #2CD997;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212121;
    border: 2px solid #212121;
    font-weight: lighter;
    padding: 10px 0px 10px 0px;
}

.list{
    border: 3px solid #2CD997;
    padding: 0px 20px 0px 20px;
    font-family: "Centro Sans pro";
}
